$white: #fff;
$footerBackgroundColor: #2c2c2c;
$grey_1: #333;
$grey_2: #8d8d8d;
$grey_3: rgba(200, 200, 200, 0.5);
$grey_4: #bdbdbd;
$grey_5: #e0e0e0;
$grey_6: #f2f2f2;
$extra: #c30000;
$bg-fon: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8));
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
