.button {
  height: 71px;
  width: 222px;

  background-color: $grey_1;
  color: $white;
  @include font(400, 12px, 1, 2.4px);
  text-transform: uppercase;

  @include flex(flex, center, center);
  gap: 15px;

  transform: scale(1);
  transition: transform $transition;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.button--white {
  height: 71px;
  width: 222px;

  background-color: white;
  color: $grey_1;
  @include font(400, 12px, 1, 2.4px);
  text-transform: uppercase;

  @include flex(flex, center, center);
  gap: 15px;

  transition: border $transition;

  &:hover,
  &:focus {
    border: 1px solid $grey_1;
  }
}
