.button {
  height: 71px;
  max-width: 222px;

  background-color: $grey_1;
  color: $white;
  @include font(400, 12px, 1, 2.4px);
  text-transform: uppercase;

  @include flex(flex, center, center);
  gap: 15px;

  border: none;
  outline: none;
}

.button--white {
  height: 71px;
  max-width: 222px;

  background-color: white;
  color: $grey_1;
  @include font(400, 12px, 1, 2.4px);
  text-transform: uppercase;

  @include flex(flex, center, center);
  gap: 15px;

  border: none;
  outline: none;
}
